 /* {
  backgrund-color: #fae3d9;
} */

h1 {
  font-size: 50px;
}

.question-container {
  display: flex;
  text-align: center;
  background-color: #BBDED6;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-counter {
  
}

.button-container {
  background-color: #ffb6b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons-inner {
  splay: flex;x;
  flex-direction: row;   
}

.answer-button {
  border: 1px solid #61c0bf;
  border-radius: 5px;
}